#nav-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: grey;
    height: 5vh;
}

#nav-bar button {
    width: 250px;
    border-radius: 10px;
    background-color: blue;
    color: white;
}

#nav-bar button:hover {
    cursor: pointer;
}